body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;

  background:
    linear-gradient(
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.95)
    ),
    url("https://images.unsplash.com/photo-1556761175-4b46a572b786");

  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}
